body
{
    font-size: .85em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section
{
    display: block;
}

/* Combat Report Styling 
-----------------------------------------------------------*/
table { width:100%; }
.report 
{
    padding: 10px 0px 10px 0px;
    vertical-align:text-top;
}
.display-column
{
    display:inline-block;
    background-color:#e2e2e2;
    margin:5px;
    padding:5px;
    vertical-align:text-top;
    height:100%;
    width:300px;
}
.display-group
{
    font-size: .85em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    color: #232323;
    display: inline-block;
    width: 300px;
    white-space: nowrap;
}
.display-label
{
    text-align: right;
    font-weight: bold;
    width:200px;
}
.display-value
{
    text-align: left;
    width:100px;
}
.display-label, .display-value
{
    font-size: large;
    display: inline-block;
}
.abilities-used, .abilities-used .display-label, .abilities-used .display-value
{
    white-space:normal;
    font-size: 1em;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
