@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
    <p>This is usually due to data our parser has never seen before.  
    If you'd be willing to send your log to tim@timrayburn.net so we can correct
    this problem, it would be greatly appreciated.</p>
</body>
</html>