@{
    ViewBag.Title = "Index";
}
<h2>
    SWTOR Combat Log Parser</h2>
<p>
    This website will accept the text of a combat log and then parse the log into JSON
    objects. The API can be called from any other website, simply "View Source" on this
    page for an example of how it can be done. the table being output below is not at
    all inclusive of all parsed data, it is merely meant to prove that the parsing works.</p>
<p>
    If you do not have a log of your own, simply click on the sample data button and
    we'll load a small sample log for you.
</p>

<div id="tabs">
    <ul>
        <li><a href="#combat">Combat Parser</a></li>
        <li><a href="#simple">Simple Parser</a></li>
    </ul>
    <div id="simple">
        <form id="combatForm" method="post" action="/API/ParseText">
        <textarea id="combatLog" name="combatLog" style="width: 100%; height: 400px;"></textarea><br />
        <input type="submit" value="Parse Log" />
        <input type="button" onclick="loadData();" value="Load Sample Data" />
        </form>
        <br />
        <div id="output">
        </div>
        <script>
            $(document).ready(
        function () {
            $("#combatForm").ajaxForm({
                dataType: 'json',
                success: function (data) {
                    var newContent = '<table border=1>';
                    newContent += '<tr><th>Timestamp</th><th>Source</th><th>Target</th><th>Ability</th><th>Event</th><th>Effect</th>';
                    newContent += '<th>Amount</th><th>Type</th><th>IsCritical</th><th>Threat</th></tr>';
                    for (var item in data) {
                        var e = data[item];
                        newContent += '<tr>';
                        newContent += '<td>' + new Date(parseInt(e.timestamp.substr(6))) + '</td>';
                        newContent += '<td>' + e.source.name + '</td>';
                        newContent += '<td>' + e.target.name + '</td>';
                        newContent += '<td>' + e.ability.name + '</td>';
                        newContent += '<td>' + e.event.name + '</td>';
                        newContent += '<td>' + e.effect.name + '</td>';
                        newContent += '<td>' + e.result.amount + '</td>';
                        newContent += '<td>' + e.result.name + '</td>';
                        newContent += '<td>' + e.result.isCritical + '</td>';
                        newContent += '<td>' + e.threat + '</td>';
                        newContent += '</tr>';
                    }
                    newContent += '</table>';
                    $('#output').html(newContent);
                }
            });
        }
    );
        </script>
    </div>
    <div id="combat">
        <form id="analysisForm" method="post" action="/Combat/Parse">
        <textarea id="combatLog2" name="combatLog" style="width: 100%; height: 400px;"></textarea><br />
        <input type="submit" value="Parse Log" />
        <input type="button" onclick="loadData();" value="Load Sample Data" />
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tabs').tabs(); 
    });
</script>

<script>
    function loadData() {
        $.get('@Url.Content("~/Content/oneCombat.txt")', function (data) {
            $('#combatLog').val(data);
            $('#combatLog2').val(data);
        });
    }
</script>
